{
  "YesChar": "Y",
  "PageSize": 10,
  "MinimumPrefixLength": 3,
  "CompletionWaitToStart": 500,
  "ChartWidth": 80,
  "SecretChar": "#",
  "PromptMaskEdit": "_",
  "ProgressBarWidth": 80,
  "SliderWidth": 40,
  "SwitchWidth": 6,
  "MaxWidth": 30,
  "NoChar": "N",
  "MaxLenghtFilterText": 15,
  "EnabledAbortKey": true,
  "ShowMesssageAbortKey": true,
  "ShowTooltip": true,
  "HideAfterFinish": false,
  "HideOnAbort": false,
  "FirstDayOfWeek": "Sunday",
  "HotKeyTooltipChartBarSwitchLayout": {
    "Key": "F2",
    "Alt": false,
    "Ctrl": false,
    "Shift": false
  },
  "HotKeyTooltipChartBarSwitchLegend": {
    "Key": "F3",
    "Alt": false,
    "Ctrl": false,
    "Shift": false
  },
  "HotKeyTooltipChartBarSwitchOrder": {
    "Key": "F4",
    "Alt": false,
    "Ctrl": false,
    "Shift": false
  },
  "HotKeyTooltipRemoteLoadMore": {
    "Key": "F3",
    "Alt": false,
    "Ctrl": false,
    "Shift": false
  },
  "HotKeyTooltipToggleAll": {
    "Key": "F2",
    "Alt": false,
    "Ctrl": false,
    "Shift": false
  },
  "HotKeyToggleFullPath": {
    "Key": "F2",
    "Alt": false,
    "Ctrl": false,
    "Shift": false
  },
  "HotKeyPasswordView": {
    "Key": "F2",
    "Alt": false,
    "Ctrl": false,
    "Shift": false
  },
  "HotKeySwitchNotes": {
    "Key": "F2",
    "Alt": false,
    "Ctrl": false,
    "Shift": false
  },
  "HotKeyShowHistory": {
    "Key": "F3",
    "Alt": false,
    "Ctrl": false,
    "Shift": false
  },
  "HotKeyFilterMode": {
    "Key": "F4",
    "Alt": false,
    "Ctrl": false,
    "Shift": false
  }
}