[*.cs]

# Default severity for analyzer diagnostics with category 'Naming'
dotnet_analyzer_diagnostic.category-Naming.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent
